<div class="da-buttons">
    <ng-container *ngFor="let button of buttons; let num = index">
        <app-button 
            [label]="button.label"
            [light]="light"
            [type]="button.type"
            [iconButton]="button.iconButton"
            [icon]="button.icon"
            [iconRight]="button.iconRight"
            [iconLeft]="button.iconLeft"
            [value]="button.value"
            (buttonValue)="sendValue($event)">
        </app-button>
    </ng-container>
</div>